<tr>
  <td>
    <div id="DivLeft">
      <app-navigation></app-navigation>
    </div>
  </td>
  <td>
    <div id="DivToolbar">
      <app-viewer-toolbar (layout)="onLayoutChanged($event)"></app-viewer-toolbar>
    </div>
    <div id="DivViewerBack">
      <tr *ngFor="let a of row; let rowIndex = index">
        <td *ngFor="let b of col; let colIndex = index">
          <div class="DivViewer" [id]="'DivViewer'+rowIndex+colIndex"
               (click)="onSelected(rowIndex, colIndex)"
               [style.width]="(764/col.length-4)+'px'" 
               [style.height]="(618/row.length-4)+'px'">
            <app-viewer #imageViewer [layout]="{rowIndex:rowIndex, colIndex:colIndex, totalRow:row.length, totalCol:col.length}" [hasSubLayout]="false"></app-viewer>  
          </div>
        </td>
      </tr>
    </div>
  </td>
</tr>
 