<div *ngIf="layout.rowCountChild*layout.colCountChild > 1; else elseBlock">
    <tr *ngFor="let a of Arr(layout.rowCountChild).fill(1); let rowIndex = index">
        <td *ngFor="let b of Arr(layout.colCountChild).fill(1); let colIndex = index">
          <div class="DivViewer" [id]="'DivViewer'+layout.rowIndex+layout.colIndex+rowIndex+colIndex"
               (click)="onSelected(rowIndex, colIndex)"
               [style.width]="(layout.width/layout.colCountChild-4)+'px'"
               [style.height]="(layout.height/layout.rowCountChild-4)+'px'">
            <app-viewer [layout]="{rowIndex:rowIndex, colIndex:colIndex, 
                                   rowCountParent:layout.rowCountChild, colCountParent:layout.colCountChild, 
                                   rowCountChild:1, colCountChild:1, 
                                   width:layout.width/layout.colCountChild-4,
                                   height:layout.height/layout.rowCountChild-4}"></app-viewer>
          </div>
        </td>
    </tr>
</div>
<ng-template #elseBlock>
    <p>
        Viewer {{layout.rowIndex+1 }} - {{layout.colIndex+1}}, Sop : {{layout.rowIndex*layout.colCountParent+layout.colIndex+1}}
    </p>
</ng-template>